# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
POSTGRES_URL="postgresql://USER:PASS@HOST:PORT/DATABASE"
POSTGRES_PRISMA_URL="postgresql://USER:PASS@HOST:PORT/DATABASE"
POSTGRES_URL_NON_POOLING="postgresql://USER:PASS@HOST:PORT/DATABASE"
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://nextjames.ddev.site/api/auth
